# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.env
backend/study_planner.db

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
